*{
    margin: 0;
}

header{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #0e1217;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenedor-general{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    overflow: hidden;
    background-color: goldenrod;
    box-shadow: 0px 0px 54px -14px rgba(255,199,0,0.75);
    -webkit-box-shadow: 0px 0px 54px -14px rgba(255,199,0,0.75);
    -moz-box-shadow: 0px 0px 54px -14px rgba(255,199,0,0.75);
    border: 2px solid white;
}


.contenedor-formulario h1{
    color: white;
    text-align: center;
}

#iniciarsesionbtn{
    background-color: rgba(0, 255, 255, 0);
    padding: 15px 30px;
    color: aliceblue;
    
    font-size: 24px;
    transition: 0.2s;
    overflow: hidden;
    border: none;
}
#iniciarsesionbtn:hover{
    background-color: #ffffff;
    color: #333;
    box-shadow: 0px 1px 74px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 1px 74px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 1px 74px 0px rgba(255,255,255,0.75);
    letter-spacing: 4px;
    cursor: pointer;
}

#registrarsebtn{
    background-color: rgba(0, 255, 255, 0);
    padding: 15px 30px;
    color: aliceblue;    
    font-size: 24px;
    transition: 0.2s;
    overflow: hidden;
    border: none;
}

#registrarsebtn:hover{
    background-color: #ffffff;
    color: #333;
    box-shadow: 0px 1px 74px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 1px 74px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 1px 74px 0px rgba(255,255,255,0.75);
    cursor: pointer;
    letter-spacing: 4px;
}

img{
    width: 500px;
    height: auto;
}

span{
    color: white;
    font-size: 10px;
}